PORT=3000
NODE_ENV=development

POSTGRES_DB=meinpets_db
POSTGRES_USER=meinpets_user
POSTGRES_PASSWORD=meinpets_password
POSTGRES_PORT=5432
POSTGRES_HOST=db

JWT_SECRET=change_me_in_env
JWT_EXPIRES_IN=7d
